// BRAND FONT
// FLEUR DE LEAH
@font-face {
  font-family: "Fleur de Leah";
  src: url("../../assets/fonts/FleurDeLeah-Regular.woff") format("woff");
  src: url("../../assets/fonts/FleurDeLeah-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

// HEADER FONT
// THE GIRL NEXT DOOR
@font-face {
  font-family: "The Girl Next Door";
  src: url("../../assets/fonts/TheGirlNextDoor-Regular.woff") format("woff");
  src: url("../../assets/fonts/TheGirlNextDoor-Regular.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

// GENERAL FONT
// MANJARI BOLD
@font-face {
  font-family: "Manjari Bold";
  src: url("../../assets/fonts/Manjari-Bold.woff") format("woff");
  src: url("../../assets/fonts/Manjari-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

// MANJARI REGULAR
@font-face {
  font-family: "Manjari Regular";
  src: url("../../assets/fonts/Manjari-Regular.woff") format("woff");
  src: url("../../assets/fonts/Manjari-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

// MANJARI THIN
@font-face {
  font-family: "Manjari Thin";
  src: url("../../assets/fonts/Manjari-Thin.woff") format("woff");
  src: url("../../assets/fonts/Manjari-Thin.woff2") format("woff2");
  font-weight: 200;
  font-style: normal;
}
